header{
    display:flex;
    justify-content: space-between;
    color:#774936;
    margin-bottom:50px;
    background-color:#F1E5CD ;
    padding-top: 12px;
    padding-bottom: 30px;

}

nav a{
    font-size: 20px ;
    text-decoration:none;
    margin-right: 40px;
    margin-top:90px;
    
}
body{
    background-color:#F7EFE1;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    }
.anime1 img{
    border-radius: 30px;
    border-style: outset;
    border-color: #774936;
}
.anime1 p{
    font-size: 30px;
    color: #774936;
}


.anime2 img{
    border-radius: 30px ;
    border-style:outset;
    border-color:#774936;
}
.anime2 p {

    font-size: 30px;
    color: #774936;
}
.anime3 img{
    border-radius: 30px;
    border-style: outset;
    border-color: #774936;
}

.anime3 p {
    font-size: 30px;
    color: #774936;
}

.anime4 img{
    border-radius: 30px;
    border-style: outset;
    border-color: #774936;
}

.anime4 p{
    font-size: 30px;
    color: #774936;
}
.anime5 img{
    border-radius: 30px;
    border-style:outset;
    border-color: #774936;
}

.anime5 p{
    font-size: 30px;
    color: #774936;
}
.anime6 img{
    border-radius: 30px;
    border-style: outset;
    border-color: #774936
}

.anime6 p {
    font-size: 30px;
    color: #774936;
}


.anime1 , .anime2 , .anime3, .anime4, .anime5, .anime6{
    flex: 1 1 calc(33.3% - 20px);
    max-width: calc(33.3% -20px);
    text-align: center;
}